.vscode/
*/node_modules
*/.db

*.pyc
.DS_Store
*/settings/local.py
*/staticfiles/*
*/mediafiles/*
__pycache__/
/.vscode/
.cache/
*/backend/mlruns


# data
*.dump

# npm
*/npm-debug.log

# Webpack
*/frontend/bundles/*
*/frontend/webpack_bundles/*
*/jquery-webpack-stats.json

# Sass
*/.sass-cache
*.map

*/backend/training/mlruns/
*/backend/training/data/mlruns/
*/backend/training/saved_models/
*/backend/training/data/trainingSets/generated/

