node_modules/
.db/

*.pyc
.DS_Store
*/staticfiles/*
*/mediafiles/*
__pycache__/
backend/mlruns

# data
*.dump

# npm
*/npm-debug.log

frontend/dev
backend/training/mlruns/
backend/training/data/mlruns/
backend/training/saved_models/
backend/training/data/trainingSets/generated/